[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
requests = "*"
python-dotenv = "*"
python-firebase = "*"
pytest = "*"
raven = "*"
"flake8" = "*"
"flake8-mypy" = "*"
mypy = "*"
pytest-watch = "*"
firebase-admin = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
"flake8" = "*"
black = "*"

[requires]
python_version = "3.6"
