[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==0.16.12"
requests = "*"
python-dotenv = "*"
python-firebase = "*"
pytest = "*"
raven = "*"
mypy = "*"
pytest-watch = "*"
firebase-admin = "*"

[requires]
python_version = "3.6.8"
