-i https://pypi.org/simple
aiohttp==1.0.5; python_version >= '3.4.1'
async-timeout==3.0.0; python_version >= '3.5.3'
certifi==2018.4.16
chardet==3.0.4
discord.py==0.16.12
idna==2.7
multidict==4.3.1; python_version >= '3.4.1'
python-dotenv==0.8.2
python-firebase==1.2
requests==2.19.1
urllib3==1.23; python_version != '3.3.*'
websockets==3.4
